<div class="home-layout">
  <div class="dashboard">
    <h3 class="head">All Products</h3>
    <div class="list w-100">
      <div class="card" *ngFor="let product of allProducts">
        <img [src]="product.image" class="card-img-top" [alt]="product.title" />
        <div class="card-body">
          <h5 class="card-title">
            {{
              product.title.length > 50
                ? (product.title | slice : 0 : 50) + " ..."
                : product.title
            }}
          </h5>
          <p class="card-text">$ {{ product.price }}</p>
          <a
            class="btn btn-secondary"
            [routerLink]="['/home/product', product.id]"
            >More Details >></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
